@import '../abstracts/variables';
main {
    display: flex;
}
article {
    width: 70%;
    margin: 2rem 0 2rem 2rem;
    padding: 2rem;
    // background-color: $color-secondary;
    border: 2px solid $color-secondary;
    box-sizing: border-box;
    height: 75vh;
}